body {
    font-family: "Roboto", sans-serif;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #f5f8fa;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

/** Header css start*/

header {
    background: linear-gradient(to right, #20c7c0, #1b9dd7);
    color: #f2f2f2;
    position: relative;
    height: 120px; /* Reduced height */
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
    text-align: center;
    display: flex;
    justify-content: space-between; /* Aligns logo, search bar, and auth links */
    padding: 10px 20px; /* Adjusted padding */
}

.search-bar {
    display: flex;
    align-items: center;
}

.search-bar input[type="search"] {
    padding: 5px;
    margin-right: 5px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.search-bar button {
    padding: 5px 10px;
    background-color: #1b9dd7;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search-bar button:hover {
    background-color: #1188be;
}

header img {
    position: relative;
    left: 10px;
    top: 10px;
    height: 59px;
    width: 275px;
}

.auth-links {
    position: relative;
    display: flex;
    gap: 0px;
}

.auth-links a {
    position: relative;
    font-size: 15px;
    background-color: transparent;
    border-radius: 5px;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    height: max(0.7vw, 18px);
    width: auto;
    transition: background-color 0.3s;
}

.user-link:hover {
    background-color: #1188be;
}

.user-link:active {
    background-color: #0a5e85;
}

nav {
    background-color: rgb(0, 0, 60);
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    background-image: linear-gradient(to right, transparent, transparent),
        linear-gradient(to right, #20c7c0, #1b9dd7);
    background-clip: text, text;
    -webkit-background-clip: text, text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    transition: background-position 0.3s, color 0.3s;
    background-size: 200% 100%;
    background-position: 100% 0;
}

nav a:hover {
    background-position: 0 0;
}

/** Header css finish*/

/** Main css start*/

main {
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: white;
    box-shadow: 0px 4px 12px rgba(27, 157, 215, 0.1);
    border-radius: 8px;
    padding: 50px;
    flex: 1;
}

main h1 {
    font-family: "Roboto", sans-serif;
    font-size: 36px;
    color: #1188be;
}

main hr {
    padding: 0;
    width: 96%;
    border: none;
    border-top: 1px solid #1b9dd7;
    margin: 0 20px 10px 20px;
}

h2 {
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    color: #1188be;
}

input[type="text"]:focus,
input[type="password"]:focus {
    border-color: #1b9dd7;
    outline: none;
}

/** Main css end*/

/** Footer css start*/

footer {
    position: relative;
    height: 80px;
    width: 100vw;
    background-color: rgb(0, 0, 60);
    padding: 20px 0;
    text-align: center;
    box-shadow: 0px -4px 12px rgba(0, 0, 0, 0.05);
}

.footer-links {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.footer-links a {
    text-decoration: none;
    color: #f2f2f2;
    transition: color 0.3s;
}

.footer-links a:hover {
    color: #20c7c0;
}

.footer-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.footer-logo img {
    width: 50px;
    height: auto;
}

.footer-logo p {
    font-size: 12px;
    color: #f2f2f2;
}

/** footer css end*/

/** Cart Icon */

.cart-icon a,
.cart-icon a i {
    color: #fff; /* Ensure text and icon are white */
    text-decoration: none; /* Remove underline from links */
}
.cart-icon {
    position: absolute;
    top: 90px;
    right: 30px;
    cursor: pointer;
    font-size: 24px;
    /* margin-right: 20px; */
}

.cart-count {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: #ff4d4d;
    color: #fff;
    font-size: 12px;
    padding: 2px 6px;
    border-radius: 50%;
}

/** Cart Modal */
.cart-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    position: relative;
}

.close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/** Media start*/

@media screen and (max-width: 1000px) {
    main {
        width: 100vw;
        padding: 0;
        margin: 0;
    }

    main h1 {
        margin-left: 50px;
    }

    header {
        flex-direction: column;
        align-items: flex-start;
        height: 120px;
    }

    header img {
        height: 40px;
        width: 188px;
        position: absolute;
        top: 0;
        left: 0;
        margin: 10px; /* Adjust as needed */
    }

    .auth-links {
        position: absolute;
        top: 0;
        right: 0;
        margin: 10px; /* Adjust as needed */
    }

    .search-bar {
        position: absolute;
        bottom: 0;
        left: 0;
        margin: 10px; /* Adjust as needed */
        width: calc(100% - 20px); /* Adjust width to fit container */
    }
}
