main {
    width: auto;
    margin-left: 15px;
    margin-right: 15px;
    padding: 0;
}

main img {
    max-height: 300px;
    max-width: 300px;
}

.login-success {
    background-color: green;
    color: white;
    text-align: center;
    width: 100%;
    height: 20px; /* Adjust the height as needed */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.body-with-success {
    margin-top: 20px; /* This should match the height of the .login-success div */
}

.list-products {
    scroll-behavior: smooth;
    overflow-x: scroll;
    display: flex;
    gap: 10px;
    list-style-type: none;
    padding: 0;
    margin: 10px;
}

.product {
    overflow-x: auto;
    flex: 0 0 auto;
    height: auto;
    width: max(23vw, 200px);
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 10px;
    background-color: #f9f9f9;
    transition: background-color 0.3s, border-color 0.3s;
}

.product:hover {
    border-color: #1b9dd7;
    background-color: rgba(27, 157, 215, 0.1);
}

.product-link {
    display: block;
    text-decoration: none;
    color: inherit;
}

.product-link:hover,
.product-link:focus {
    outline: none;
}

.product img {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 10px;
}

.product h2 {
    font-size: 1.2em;
    margin-bottom: 5px;
}

.price {
    color: #95e426;
    margin-bottom: 10px;
}

.characteristics {
    list-style-type: none;
    padding: 0;
}

.item .info input.qty {
    display: block;
    position: relative;
    max-width: 50px;
    border: 1px dotted #1b9dd7;
    border-radius: 5px;
    margin-bottom: 10px;
}

.item .info input.qty:hover {
    border: 2px solid #1b9dd7;
    margin-bottom: 8px;
}

a {
    cursor: pointer;
    text-decoration: none;
}

.items-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.item {
    flex: 0 0 calc(25% - 20px); /* 4 items per line on large screens */
    max-width: calc(25% - 20px);
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

.item img {
    max-width: 100%;
    height: 200px; /* Adjusted for responsive images */
    margin-bottom: 10px;
}

.item .info {
    margin-top: 10px;
}

.item .info input {
    display: block;
    width: 100%;
    padding: 5px;
    margin-bottom: 5px;
    border: none;
    background-color: transparent;
    font-family: inherit;
    font-size: 14px;
    text-align: center;
}

.item .info .name {
    font-weight: bold;
}

.item .info .model,
.item .info .brand {
    color: #666;
}

.item .info .price {
    font-size: 18px;
    font-weight: bold;
    color: #1b9dd7;
}

.item .info .add-to-cart {
    display: inline-block;
    padding: 10px 20px;
    background-color: #1b9dd7;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
}

.item .info .add-to-cart:hover {
    background-color: #1188be;
}

/**scroll bar*/
::-webkit-scrollbar-thumb {
    background: linear-gradient(to right, #20c7c0, #1b9dd7);
    border-radius: 10px;
}
::-webkit-scrollbar-track {
    background: rgba(0, 0, 60, 0.1);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(to right, #2adcd0, #2bacdf);
}
::-webkit-scrollbar {
    width: 10px;
}

main ::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
}
