main {
    height: 100vh; /*TODO just a place holder till filed*/
}

main h1 {
    font-family: "Roboto", sans-serif;
    font-size: 36px;
    margin-left: 100px;
    color: #1188be;
}

main hr {
    width: 95%;
    border: none;
    border-top: 1px solid #1b9dd7;
    margin: 20px auto;
}

@media screen and (max-width: 600px) {
    header img {
        height: auto;
        width: 200px;
    }

    main h1 {
        margin-left: 10px;
    }

    main hr {
        width: 95%;
    }
}
