main {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

main hr {
    width: 95%;
    border: none;
    border-top: 1px solid #1b9dd7;
    margin: 20px auto;
}

main h1 {
    font-family: "Roboto", sans-serif;
    font-size: 36px;
    margin-left: 50px;
    color: #1188be;
}

.product-info-div {
    display: flex;
    align-items: start; /* Align items at the start of the container */
    justify-content: space-between; /* Distribute space evenly */
    gap: 10px;
}

.image-container {
    flex: 1; /* Flex grow */
    max-width: 500px; /* Control max width */
    margin-right: 5px;
}

.img-responsive {
    max-width: 250px;
    height: auto;
}

#imageDropZone {
    max-width: 300px;
    border: 2px dashed #ccc;
    padding: 10px;
    text-align: center;
}

.product-info-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: column;
    flex: 2; /* Flex grow more than the image container */
    margin-left: 5px; /* Adjust left margin */
    padding: 20px;
    width: calc(100% - 510px);
}

.form-items {
    display: flex;
    flex-direction: row;
}

.form-half {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.product-info-form h2 {
    color: #1b9dd7;
    margin-bottom: 20px;
}

.product-info-form {
    margin-bottom: 15px;
}

.product-info-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.product-info-form input[type="text"],
.product-info-form input[type="email"],
.product-info-form input[type="password"] {
    font-family: "Roboto", sans-serif; /* Match font */
    padding: 8px;
    margin: 5px 0 15px; /* Consistent margin */
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.product-info-form button {
    font-family: "Roboto", sans-serif; /* Match font */
    background-color: #1b9dd7; /* Consistent color */
    color: white;
    padding: 10px 15px;
    margin-top: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.product-info-form button:hover {
    background-color: #1188be; /* Consistent hover effect */
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
    .product-info-div {
        flex-direction: column; /* Stack them vertically on smaller screens */
    }
    .image-container,
    .product-info-form {
        width: 100%; /* Full width on smaller screens */
        margin: 0; /* Remove margin */
    }
}
