.user-info-form h1 {
    font-family: "Roboto", sans-serif;
    font-size: 36px;
    margin-left: 100px;
    color: #1188be;
}

.user-info-form hr {
    width: 95%;
    border: none;
    border-top: 1px solid #1b9dd7;
    margin: 20px auto;
}

.user-info-form {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.user-info-form form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.user-info-form label {
    font-weight: bold;
    color: #1188be;
}

.user-info-form input {
    width: 300px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

.user-info-form button {
    padding: 10px 20px;
    background-color: #20c7c0;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#created_at input[readonly] {
    background-color: #f3f3f3;
    color: #666;
    cursor: not-allowed;
}

.user-info-form button:hover {
    background-color: #1b9dd7;
}

/*TODO add stuff here*/

@media screen and (max-width: 600px) {
    header img {
        height: auto;
        width: 200px;
    }
}
